{% extends 'baseBack.html.twig' %}
{% block title %}Gestion Fournisseur {% endblock %}
{% block contentHeader %} Fournisseur de Service {% endblock %}
{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $( document ).ready(function() {
            var currentRequest = null;
            $("#search").keyup(function(e){

                var value = $(this).val();
                if(currentRequest != null) {
                    currentRequest.abort();
                }

                currentRequest = $.ajax({

                    url : "{{ path('searchFourniseur') }}",
                    type : 'GET',
                    data: {
                        'searchValue' : value
                    },

                    success : function(retour)
                    {
                        $('#all').html(retour);

                    },
                });
                return false;
            });
        });
        $( document ).ready(function() {
            var currentRequest = null;
            $("#service").change(function(){
                var value = null;
                $( "select option:selected" ).each(function() {
                    value = $( this ).val() ;
                });
                if(currentRequest != null) {
                    currentRequest.abort();
                }

                currentRequest = $.ajax({

                    url : "{{ path('searchFourniseurserv') }}",
                    type : 'GET',
                    data: {
                        'searchValue' : value
                    },

                    success : function(retour)
                    {
                        $('#all').html(retour);

                    },
                });
                return false;
            });
        });
    </script>
{% endblock  %}
{% block contentMain %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <a class="btn bg-gradient-info float-left " href="{{ path('Ajouterfourniseur') }}">
                        <i class="far fa-plus-square "> ajouter
                        </i>
                    </a>
                    <div class="card-tools row">
                        <div class="input-group input-group-sm col-md-6">
                            <select class="form-control form-control-sm" id="service" >
                                <option selected>filtre par service</option>
                                {% for service in services %}
                                    <option value="{{ service.id }}">{{ service.libelle }}</option>
                                {% endfor %}

                            </select>
                        </div>


                        <div class="input-group input-group-sm col-md-6" style="width: 150px;">
                            <input  type="search" id="search" class="form-control " placeholder="Search">

                            <div class="input-group-append">
                                <a path="{{ path('searchFourniseur') }}" class="btn btn-default"><i class="fas fa-search"></i></a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card-body">

                    <section class="content">

                        <!-- Default box -->
                        <div class="card card-solid">
                            <div class="card-body pb-0">
                                <div class="row d-flex align-items-stretch " id="all">
                                   {% include 'fourniseur_service/search.html.twig' %}
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">

                            </div>
                            <!-- /.card-footer -->
                        </div>
                        <!-- /.card -->

                    </section>

                </div>
                <!-- /.card-header -->

                <!-- /.new section -->


                <!-- /.new section -->
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>




{% endblock %}