{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block css %}
    <style>
        .color-palette span {
            display: none;
            font-size: 12px;
        }

        .color-palette:hover span {
            display: block;
        }

        .color-palette.disabled span {
            display: block;
            text-align: left;
            padding-left: .75rem;
        }

        .color-palette-box h4 {
            position: absolute;
            left: 1.25rem;
            margin-top: .75rem;
            color: rgba(255, 255, 255, 0.8);
            font-size: 12px;
            display: block;
            z-index: 7;
        }

        .comment-wrapper .panel-body {
            max-height:650px;
            overflow:auto;
        }

        .comment-wrapper .media-list .media img {
            width:64px;
            height:64px;
            border:2px solid #e5e7e8;
        }

        .comment-wrapper .media-list .media {
            border-bottom:1px dashed #efefef;
            margin-bottom:25px;
        }
    </style>
{% endblock %}

{% block head %}
    {{ parent() }}

   <link rel="stylesheet" href={{ asset("distClient/css/font-awesome.css")}}>
   <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
   <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
   <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap 4 -->

    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
{% endblock %}

{% block body %}

   <div class="container">
      <div class="row bootstrap snippets bootdeys">
         <div class="col-md-8 col-sm-12">
            <div class="comment-wrapper">

               <h3>Titre de la question: {{ q.titre }}</h3>
                <small>{% if q.isNameShown==true %}
                cette question est ajouté par: {{ q.user.nom }} {{ q.user.prenom }}
                    {% else %}
                    cette question est ajouté par un anonyme
                    {% endif %}
                </small>

               <br>
               <h5>la catégorie médicale de cette question est: {{  q.categorieMedicale.nom}}</h5>
               <h5>Symptomes:{{ q.symptomes }}</h5>

               <small>  {% if q.isTreated==0%}
                        Pas de traitement en cours
                     {% else %}
                        traitement en cours
                     {% endif %}


                  <br>  {% if q.isAntMed==0%}
                        Pas d'antécédent médicaux
                     {% else %}
                        il y a des antécédents médicaux
                     {% endif %}

                  </br>
                   {% if q.taille==null%}

                     {% else %}
                        La taille du patient:{{ q.taille }} ,
                     {% endif %}


                  {% if q.poids==null%}

                     {% else %}
                        Le poids du patient:{{ q.poids }}
                     {% endif %}
               </small>

               <div class="panel panel-info">
                  <div class="panel-heading">

                     Réponses ({{ q.reponses|length  }})
                  </div>
                   <div class="panel-body">
                       {{ form_start(form)}}
                       {% if isBad==true and nbIsBad+1<=3 %}
                           <div class="card-body">
                               <div class="alert alert-danger alert-dismissible">
                                   <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                   <h5><i class="fas fa-ban"></i> Alerte!</h5>

                                   <p>c'est votre alerte numéro ({{ nbIsBad+1 }})</p>
                                   Attention! Il ne faut pas écrire des mots inappropriés!<br>
                                   Votre commentaire ne sera pas affiché dans la liste des commentaires!<br>
                                   Si vous essayez d'ecrire des mots inappropriés dans 3 commentaires, <br> Vous ne serez plus capable de repondre à n'importe quel question!

                               </div>
                           </div>
                       {% endif %}
                       {% if nbIsBad >= 3 %}
                           <div class="card-body">
                               <div class="alert alert-danger alert-dismissible">
                                   <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                   <h5><i class="fas fa-ban"></i> Alerte!</h5>
                                   Vous avez épuisé toutes vos chances!
                                   <p>Vous ne pouvez plus ajouter des réponses</p>



                               </div>
                           </div>

                       {% endif %}
                       {{ form_end(form)}}

                       {% if nbIsBad >= 3 %}
                           <a href="#" class="btn btn-info pull-right disabled">Commenter</a>

                       {% endif %}



                         <div class="clearfix"></div>
                             <hr>
                             <ul class="media-list">
                                 {% for c in q.reponses %}


                                     {% if c.isBad==false %}
                                        <li class="media">
                                           <a href="#" class="pull-left">
                                              <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                                           </a>
                                               <div class="media-body">
                                                    <span class="text-muted pull-right">
                                                        <small class="text-muted">30 min ago</small>
                                                    </span>
                                                  <strong class="text-success">{{ c.user.nom }} {{ c.user.prenom }}</strong>
                                                  <p>
                                                     {{ c.description }}
                                                     <br>
                                             {% if app.user.id==c.user.id %}

                                                 <a style="margin-left: 550px" class="fas fa-edit" href="{{ path('updateReponse',{'id':c.id, 'idUser': app.user.id}) }}"></a>
                                                     <a class="fas fa-trash "href="{{ path('suppReponse',{'id':c.id , 'idUser': app.user.id}) }}"></a>
                                             {% endif %}
                                                  </p>
                                               </div>
                                        </li>
                                     {%  endif %}
                                 {% endfor %}
                             </ul>
                        </div>
                  </div>
               </div>


            </div>

         </div>
      </div>
   </div>

{% endblock %}





