{% extends 'baseLR.html.twig' %}

{% block title %}Register{% endblock %}

{% block asideright %}


<h1>Inscription</h1>

{{ form_start(form) }}
    {{ form_row(form.motif) }}
    {{ form_row(form.description) }}
  <button type="submit" class="btn btn-block btn-info"><h> Envoyer réclamation</h></button>
  <button type="reset" class="btn btn-block btn-info"><h> Annuler</h></button>
    <h1><a href="{{ path('userr') }}"> Revenir à la page d'accueil </a></h1>

  {{ form_end(form) }}


{% endblock %}

