<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{{ asset("distlogin/images/icons/favicon.ico") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("distlogin/vendor/bootstrap/css/bootstrap.min.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ asset("distlogin/fonts/font-awesome-4.7.0/css/font-awesome.min.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ asset("distlogin/fonts/Linearicons-Free-v1.0.0/icon-font.min.css")}}">
    <link rel="stylesheet" type="text/css" href="{{ asset("distlogin/vendor/animate/animate.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ asset("distlogin/vendor/css-hamburgers/hamburgers.min.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ asset("distlogin/vendor/animsition/css/animsition.min.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ asset("distlogin/vendor/select2/select2.min.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ asset("distlogin/vendor/daterangepicker/daterangepicker.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ asset("distlogin/css/util.css") }}">
    <link rel="stylesheet" type="text/css"  href= "{{ asset("distlogin/css/main.css") }}">
    <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
    <title>{% block title %}Welcome!{% endblock %}</title>
</head>
<body  style="background-color: #666666;">
<div class="limiter">
    <div style="width:1518px;height:auto;" class="container-login100">
        <div   class="wrap-login100">
            <div class="login100-form validate-form">
                {% block asideright %} {% endblock %}
            </div>
            <img   class="login100-more " src="{{ asset('distlogin/images/banner.png') }}">
        </div>
    </div>

</div>
<script src="//code.jquery.com/jquery.js"></script>
<script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
{{ include('@MercurySeriesFlashy/flashy.html.twig') }}
<script src="{{ asset("distlogin/vendor/jquery/jquery-3.2.1.min.js") }}"></script>
<script src="{{ asset("distlogin/vendor/animsition/js/animsition.min.js") }}"></script>
<script src="{{ asset("distlogin/vendor/bootstrap/js/popper.js") }}"></script>
<script src="{{ asset("distlogin/vendor/bootstrap/js/bootstrap.min.js") }}"></script>..
<script src="{{ asset("distlogin/vendor/select2/select2.min.js") }}"></script>
<script src="{{ asset("distlogin/vendor/daterangepicker/moment.min.js") }}"></script>
<script src="{{ asset("distlogin/vendor/daterangepicker/daterangepicker.js") }}"></script>
<script src="{{ asset("distlogin/vendor/countdowntime/countdowntime.js") }}"></script>
<script src="{{ asset("distlogin/js/main.js") }}"></script>
</body>
</html>
