<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Medlife</title>
    <link href="{{ asset('distClient/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('distClient/css/template.css')}}" rel="stylesheet">
    <link href="{{ asset('distClient/css/icomoon.css')}}" rel="stylesheet">
    <link href="{{ asset('distClient/addons/slick/slick.css')}}" rel="stylesheet">
    <link href="{{ asset('distClient/addons/slick/slick-theme.css')}}" rel="stylesheet">
    <link href="{{ asset('distClient/addons/Magnific-Popup/magnific-popup.css')}}" rel="stylesheet">
    <link href="{{ asset('distClient/https://fonts.googleapis.com/css?family=Muli:400,700%7COpen+Sans:400,700')}}" rel="stylesheet">
</head>
<body>

<div id="page_wrapper">
    <!--/. Responsive menu start -->
    <ul class="ml-resMenu">
        <li class="ml-resMenu-back">
            <span class="ml-resMenu-backIcon glyphicon glyphicon-chevron-left"></span><a href="#" class="ml-resMenu-backLink">Back</a>
        </li>
        <li><a class="active" href=" {{ asset('distClient/index.html') }}"><span>Home</span></a></li>
        <li class="ml-res-submenu">
            <span class="ml-res-submenu-trigger glyphicon glyphicon-chevron-right"></span>
            <a href="#"><span>Skin</span></a>
            <ul class="ml-subMenu">
                <li class="ml-resMenu-back">
                    <span class="ml-resMenu-backIcon glyphicon glyphicon-chevron-left"></span><a href="#" class="ml-resMenu-backLink">Back</a>
                </li>
                <li>
                    <ul>
                        <li><a href="{{ asset('distClient/services.html')}}">Men’s Laser Hair Removal</a></li>
                        <li><a href="{{ asset('distClient/services.html')}}">Cellulite Treatment</a></li>
                        <li><a href="{{ asset('distClient/services.html')}}">Laser Hair Removal</a></li>
                        <li><a href="{{ asset('distClient/services.html') }}">Non-surgical Liposuction</a></li>
                        <li><a href="{{ asset('distClient/services.html') }}">Body Skin Tightening</a></li>
                        <li><a href="{{ asset('distClient/vservices.html') }}">Transgender Hair Removal</a></li>
                        <li><a href="{{ asset('distClient/services.html') }}">Clatuu Fat Freezing</a></li>
                    </ul>
                    <ul>
                        <li><a href="{{ asset('distClient/services.html') }}">Anti-Wrinkle Injections</a></li>
                        <li><a href="{{ asset('distClient/.html') }}">Dermal Filters</a></li>
                        <li><a href="{{ asset('vservices.html') }}">Non Surgical Facelift</a></li>
                        <li><a href="{{ asset('distClient/services.html') }}">Facial Rejuvenation</a></li>
                        <li><a href="{{ asset('distClient/services.html') }}">Microdermabrasion</a></li>
                        <li><a href="{{ asset('distClient/services.html') }}">Facial Thread Veins Removal</a></li>
                        <li><a href="{{ asset('distClient/services.html') }}">The Ultraformer HIFU</a></li>
                    </ul>
                    <ul>
                        <li><a href="{{ asset('distClient/services.html') }}">Acne Skin Treatment</a></li>
                        <li><a href="{{ asset('distClient/services.html') }}">Skin Peels</a></li>
                        <li><a href="{{ asset('distClient/services.html') }}">Rosacea Treatment</a></li>
                        <li><a href="{{ asset('distClient/services.html') }}">Acne Scarring</a></li>
                        <li><a href="{{ asset('distClient/services.html') }}">Pigmentation Treatment</a></li>
                        <li><a href="{{ asset('distClient/services.html') }}">Milia Removal</a></li>
                        <li><a href="{{ asset('distClient/services.html') }}">Wrinkle Reduction</a></li>
                    </ul>
                    <ul>
                        <li><a href="{{ asset('distClient/services.html') }}">Skin Peels</a></li>
                        <li><a href="{{ asset('distClient/services.html') }}">Dermal Rolling</a></li>
                        <li><a href="{{ asset('distClient/services.html') }}">Radio Frequency</a></li>
                        <li><a href="{{ asset('distClient/services.html') }}">Fat Removal Treatments</a></li>
                        <li><a href="{{ asset('distClient/services.html') }}">Ultrasound Cavitation</a></li>
                        <li><a href="{{ asset('distClient/services.html') }}">AlumierMD</a></li>
                        <li><a href="{{ asset('distClient/services.html') }}">Lip Enhancements</a></li>
                    </ul>
                </li>
            </ul><!--/.ml-subMenu-->
        </li><!--/.ml-res-submenu-->
        <li><a class="active" href="{{ asset('distClient/about.html') }}"><span>About</span></a></li>
        <li class="ml-res-submenu">
            <span class="ml-res-submenu-trigger glyphicon glyphicon-chevron-right"></span>
            <a href=" {{ asset('distClient/services.html') }}"><span>Services</span></a>
            <ul class="ml-subMenu">
                <li class="ml-resMenu-back">
                    <span class="ml-resMenu-backIcon glyphicon glyphicon-chevron-left"></span><a href="#" class="ml-resMenu-backLink">Back</a>
                </li>
                <li><a href="{{ asset('distClient/services.html') }}">Service 1</a></li>
                <li><a href="{{ asset('distClient/services.html') }}">Service 2</a></li>
                <li><a href="{{ asset('distClient/services.html') }}">Service 3</a></li>
                <li><a href="{{ asset('distClient/services.html') }}">Service 4</a></li>
                <li><a href="{{ asset('distClient/services.html') }}">Service 5</a></li>
                <li><a href="{{ asset('distClient/services.html') }}">Service 6</a></li>
                <li><a href="{{ asset('distClient/services.html') }}">Service 7</a></li>
                <li><a href="{{ asset('distClient/services.html') }}">Service 8</a></li>
                <li><a href="{{ asset('distClient/services.html') }}">Service 9</a></li>
                <li><a href="{{ asset('distClient/services.html') }}">Service 10</a></li>
            </ul>
        </li><!--/.ml-res-submenu-->
        <li class="ml-res-submenu">
            <span class="ml-res-submenu-trigger glyphicon glyphicon-chevron-right"></span>
            <a href="{{ asset('distClient/skin.html') }}"><span>Treatments</span></a>
            <ul class="ml-subMenu">
                <li class="ml-resMenu-back">
                    <span class="ml-resMenu-backIcon glyphicon glyphicon-chevron-left"></span><a href="#" class="ml-resMenu-backLink">Back</a>
                </li>
                <li>
                    <a href="{{ asset('distClient/services.html') }}"><span>Laser Hair Removal</span></a> </li>
                <li>
                    <a href="{{ asset('distClient/services.html') }}"><span>Men’s Laser Hair Removal</span></a> </li>
                <li>
                    <a href="{{ asset('distClient/services.html') }}"><span>Cellulite Treatment</span></a> </li>
                <li>
                    <a href="{{ asset('distClient/services.html') }}"><span>Non-surgical Liposuction</span></a> </li>
                <li>
                    <a href="{{ asset('distClient/services.html') }}"><span>Body Skin Tightening</span></a> </li>
                <li>
                    <a href="{{ asset('distClient/services.html') }}"><span>Transgender Hair Removal</span></a> </li>
            </ul>
        </li><!--/.ml-res-submenu-->
        <li><a class="active" href="{{ asset('distClient/clinics.html') }}"><span>Clinics</span></a></li>
        <li><a class="active" href="{{ asset('distClient/schedule.html') }}"><span>Schedule</span></a></li>
        <li class="ml-res-submenu">
            <span class="ml-res-submenu-trigger glyphicon glyphicon-chevron-right"></span>
            <a href="#"><span>Pages</span></a>
            <ul class="ml-subMenu">
                <li class="ml-resMenu-back">
                    <span class="ml-resMenu-backIcon glyphicon glyphicon-chevron-left"></span><a href="#" class="ml-resMenu-backLink">Back</a>
                </li>
                <li class="ml-submenu__item"><a href="{{ asset('distClient/index.html') }}">Homepage</a></li>
                <li class="ml-submenu__item"><a href="{{ asset('distClient/about.html') }}">About</a></li>
                <li class="ml-submenu__item"><a href="{{ asset('distClient/blog.html') }}">Blog</a></li>
                <li class="ml-submenu__item"><a href="{{ asset('distClient/blog-single.html') }}">Single Blog</a></li>
                <li class="ml-submenu__item"><a href="{{ asset('distClient/contact.html') }}">Contact</a></li>
                <li class="ml-submenu__item"><a href="{{ asset('distClient/contact-style2.html') }}">Contact page 2</a></li>
                <li class="ml-submenu__item"><a href="{{ asset('distClient/clinics.html') }}">Clinics</a></li>
                <li class="ml-submenu__item"><a href="{{ asset('distClient/schedule.html') }}">Schedule</a></li>
                <li class="ml-submenu__item"><a href="{{ asset('distClient/services.html') }}">Services</a></li>
                <li class="ml-submenu__item"><a href="{{ asset('distClient/shop.html') }}">Shop</a></li>
                <li class="ml-submenu__item"><a href="{{ asset('distClient/skin.html') }}">Skin</a></li>
                <li class="ml-submenu__item"><a href="{{ asset('distClient/shop-single.html') }}">Product page</a></li>
                <li class="ml-submenu__item"><a href="{{ asset('distClient/shop-single2.html') }}">Product page 2</a></li>
                <li class="ml-submenu__item"><a href="{{ asset('distClient/shop-single3.html') }}">Product page 3</a></li>
            </ul>
        </li><!--/.ml-res-submenu -->
        <li class="ml-res-submenu">
            <a href="#"><span>Shop</span></a>
        </li><!--/.ml-res-submenu -->
        <li class="ml-res-submenu">
            <a href=" {{ asset('distClient/blog.html') }}"><span>Blog</span></a>
        </li><!--/.ml-res-submenu -->
        <li class="ml-res-submenu">
            <a href=" {{ asset('distClient/contact.html') }}"><span>Contact</span></a>
        </li><!--/.ml-res-submenu -->
    </ul><!--/.ml-resMenu-->
    <!--/. Responsive menu end -->

    <!--/. Header start -->
    <header class="ml-header ml-header--light">
        <div class="ml-topbar-wrapper">
            <div class="ml-container ml-header-containerFull container">
                <div class="ml-topbar ml-headerbar">
                    <div class="ml-topbar__component">
                        <div class="ml-socialIcons">
                            <span class="ml-socialIcons__item ml-icon-instagram ml-socialIcons__item--light"></span>
                            <span class="ml-socialIcons__item ml-icon-facebook ml-socialIcons__item--light"></span>
                            <span class="ml-socialIcons__item ml-icon-twitter ml-socialIcons__item--light"></span>
                        </div>
                    </div><!--/.ml-topbar__component-->
                    <div class="ml-topbar__component">
                        <p class="ml-cta-text ml-elem--light ml-hidden-xs">Make an Appointment Now!</p>
                        <a href=" {{ asset('distClient/contact.html') }}" class="ml-cta-btn ml-btn ml-btn--style1 ml-btn--rounded hasAnchor">Book an Appointment</a>
                    </div><!--/.ml-topbar__component-->
                </div><!--/.ml-topbar-->
            </div><!--/.ml-container-->
        </div><!--/.ml-topbar-wrapper-->
        <div class="ml-logobar-wrapper">
            <div class="ml-container ml-header-containerFull container">
                <div class="ml-logobar ml-headerbar ml-headerbar--block-xs">
                    <div class="ml-logoContainer">
                        <a href=" {{ asset('distClient/index.html') }}" class="ml-logoAnchor">
                            <img src=" {{ asset('distClient/img-assets/DOCCC.png') }}" alt="" class="ml-logoImg">
                        </a>
                    </div><!--/.ml-logoContainer-->
                    <div class="ml-headerInfo">
                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                <div class="ml-iconbox ml-iconbox--l20">
                                    <div class="ml-iconbox__iconWrapper ml-iconbox__icon--left">
                                        <span class="ml-iconbox__icon ml-icon-phone-call"></span>
                                    </div><!--/.ml-iconbox__iconWrapper-->
                                    <div class="ml-iconbox__contentWrapper">
                                        <div class="ml-iconbox__titleWrapper">
                                            <h3 class="ml-iconbox__title">Call Today:</h3>
                                        </div><!--/.ml-iconbox__titleWrapper-->
                                        <div class="ml-iconbox__descWrapper">
                                            <p class="ml-iconbox__desc">555–123–2323; 555–123–2323</p>
                                        </div><!--/.ml-iconbox__descWrapper-->
                                    </div><!--/.ml-iconbox__contentWrapper-->
                                </div><!--/.ml-iconbox-->
                            </div><!--/.col-xs-6"-->
                            <div class="col-sm-6 col-xs-12">
                                <div class="ml-iconbox ml-iconbox--l20">
                                    <div class="ml-iconbox__iconWrapper ml-iconbox__icon--left">
                                        <span class="ml-iconbox__icon ml-icon-clock"></span>
                                    </div><!--/.ml-iconbox__iconWrapper-->
                                    <div class="ml-iconbox__contentWrapper">
                                        <div class="ml-iconbox__titleWrapper">
                                            <h3 class="ml-iconbox__title">Opening Hours:</h3>
                                        </div><!--/.ml-iconbox__titleWrapper-->
                                        <div class="ml-iconbox__descWrapper">
                                            <p class="ml-iconbox__desc">Mon–Fri: 9am–6pm; Sun: 10am–1pm</p>
                                        </div><!--/.ml-iconbox__descWrapper-->
                                    </div><!--/.ml-iconbox__contentWrapper-->
                                </div><!--/.ml-iconbox-->
                            </div><!--/.col-xs-6"-->
                        </div><!--/.row-->
                    </div><!--/.ml-headerInfo-->
                </div><!--/.ml-logobar-->
            </div><!--/.ml-container-->
        </div><!--/.ml-logobar-wrapper-->
        <div class="ml-menubar-wrapper">
            <div class="ml-container ml-header-containerFull container">
                <div class="ml-menubar ml-headerbar">
                    <div class="ml-mainMenu-trigger">
                        <a href="#" class="ml-menuBurger">
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                    </div><!--/.ml-mainMenu-trigger-->
                    <ul class="ml-mainMenu">
                        <li class="ml-mainMenu__item active"><a href="{{ asset('distClient/index.html') }}"><span>Home</span></a></li>
                        <li class="ml-mainMenu__item"><a href="{{ asset('distClient/about.html') }}"><span>About</span></a></li>
                        <li class="ml-mainMenu__item has-submenu">
                            <a href="{{ asset('distClient/services.html') }}"><span>Services</span></a>
                            <div class="ml-megamenu ml-megamenu--left135" data-col-nr="5">
                                <div class="ml-megamenu__container ml-megamenu__container--style2">
                                    <div class="ml-megamenu__component">
                                        <div class="ml-iconbox ml-iconbox--center ml-text--center ml-iconbox--style1">
                                            <a href="{{ asset('distClient/services.html') }}" class="ml-iconbox__anchor">
                                                <div class="ml-iconbox__iconWrapper">
                                                    <span class="ml-iconbox__icon ml-icon-lungs"></span>
                                                </div><!--/.ml-iconbox__iconWrapper-->
                                                <div class="ml-iconbox__contentWrapper">
                                                    <div class="ml-iconbox__titleWrapper">
                                                        <h3 class="ml-iconbox__title">Service 1</h3>
                                                    </div><!--/.ml-iconbox__titleWrapper-->
                                                </div><!--/.ml-iconbox__contentWrapper-->
                                            </a><!--/.ml-iconbox__anchor-->
                                        </div><!--/.ml-iconbox-->
                                        <div class="ml-iconbox ml-iconbox--center ml-text--center ml-iconbox--style1">
                                            <a href=" {{ asset('distClient/services.html') }}" class="ml-iconbox__anchor">
                                                <div class="ml-iconbox__iconWrapper">
                                                    <span class="ml-iconbox__icon ml-icon-ear"></span>
                                                </div><!--/.ml-iconbox__iconWrapper-->
                                                <div class="ml-iconbox__contentWrapper">
                                                    <div class="ml-iconbox__titleWrapper">
                                                        <h3 class="ml-iconbox__title">Service 1</h3>
                                                    </div><!--/.ml-iconbox__titleWrapper-->
                                                </div><!--/.ml-iconbox__contentWrapper-->
                                            </a><!--/.ml-iconbox__anchor-->
                                        </div><!--/.ml-iconbox-->
                                    </div><!--/.ml-megamenu__component-->
                                    <div class="ml-megamenu__component">
                                        <div class="ml-iconbox ml-iconbox--center ml-text--center ml-iconbox--style1">
                                            <a href=" {{ asset('distClient/services.html') }}" class="ml-iconbox__anchor">
                                                <div class="ml-iconbox__iconWrapper">
                                                    <span class="ml-iconbox__icon ml-icon-heart"></span>
                                                </div><!--/.ml-iconbox__iconWrapper-->
                                                <div class="ml-iconbox__contentWrapper">
                                                    <div class="ml-iconbox__titleWrapper">
                                                        <h3 class="ml-iconbox__title">Service 1</h3>
                                                    </div><!--/.ml-iconbox__titleWrapper-->
                                                </div><!--/.ml-iconbox__contentWrapper-->
                                            </a><!--/.ml-iconbox__anchor-->
                                        </div><!--/.ml-iconbox-->
                                        <div class="ml-iconbox ml-iconbox--center ml-text--center ml-iconbox--style1">
                                            <a href=" {{ asset('distClient/services.html') }}" class="ml-iconbox__anchor">
                                                <div class="ml-iconbox__iconWrapper">
                                                    <span class="ml-iconbox__icon ml-icon-brain"></span>
                                                </div><!--/.ml-iconbox__iconWrapper-->
                                                <div class="ml-iconbox__contentWrapper">
                                                    <div class="ml-iconbox__titleWrapper">
                                                        <h3 class="ml-iconbox__title">Service 1</h3>
                                                    </div><!--/.ml-iconbox__titleWrapper-->
                                                </div><!--/.ml-iconbox__contentWrapper-->
                                            </a><!--/.ml-iconbox__anchor-->
                                        </div><!--/.ml-iconbox-->
                                    </div><!--/.ml-megamenu__component-->
                                    <div class="ml-megamenu__component">
                                        <div class="ml-iconbox ml-iconbox--center ml-text--center ml-iconbox--style1">
                                            <a href="{{ asset('distClient/services.html') }}" class="ml-iconbox__anchor">
                                                <div class="ml-iconbox__iconWrapper">
                                                    <span class="ml-iconbox__icon ml-icon-surgery"></span>
                                                </div><!--/.ml-iconbox__iconWrapper-->
                                                <div class="ml-iconbox__contentWrapper">
                                                    <div class="ml-iconbox__titleWrapper">
                                                        <h3 class="ml-iconbox__title">Service 1</h3>
                                                    </div><!--/.ml-iconbox__titleWrapper-->
                                                </div><!--/.ml-iconbox__contentWrapper-->
                                            </a><!--/.ml-iconbox__anchor-->
                                        </div><!--/.ml-iconbox-->
                                        <div class="ml-iconbox ml-iconbox--center ml-text--center ml-iconbox--style1">
                                            <a href="{{ asset('distClient/services.html') }}services.html" class="ml-iconbox__anchor">
                                                <div class="ml-iconbox__iconWrapper">
                                                    <span class="ml-iconbox__icon ml-icon-x-ray"></span>
                                                </div><!--/.ml-iconbox__iconWrapper-->
                                                <div class="ml-iconbox__contentWrapper">
                                                    <div class="ml-iconbox__titleWrapper">
                                                        <h3 class="ml-iconbox__title">X-Ray</h3>
                                                    </div><!--/.ml-iconbox__titleWrapper-->
                                                </div><!--/.ml-iconbox__contentWrapper-->
                                            </a><!--/.ml-iconbox__anchor-->
                                        </div><!--/.ml-iconbox-->
                                    </div><!--/.ml-megamenu__component-->
                                    <div class="ml-megamenu__component">
                                        <div class="ml-iconbox ml-iconbox--center ml-text--center ml-iconbox--style1">
                                            <a href="{{ asset('distClient/services.html') }}" class="ml-iconbox__anchor">
                                                <div class="ml-iconbox__iconWrapper">
                                                    <span class="ml-iconbox__icon ml-icon-tooth"></span>
                                                </div><!--/.ml-iconbox__iconWrapper-->
                                                <div class="ml-iconbox__contentWrapper">
                                                    <div class="ml-iconbox__titleWrapper">
                                                        <h3 class="ml-iconbox__title">Service 1</h3>
                                                    </div><!--/.ml-iconbox__titleWrapper-->
                                                </div><!--/.ml-iconbox__contentWrapper-->
                                            </a><!--/.ml-iconbox__anchor-->
                                        </div><!--/.ml-iconbox-->
                                        <div class="ml-iconbox ml-iconbox--center ml-text--center ml-iconbox--style1">
                                            <a href="{{ asset('distClient/services.html') }}" class="ml-iconbox__anchor">
                                                <div class="ml-iconbox__iconWrapper">
                                                    <span class="ml-iconbox__icon ml-icon-cels"></span>
                                                </div><!--/.ml-iconbox__iconWrapper-->
                                                <div class="ml-iconbox__contentWrapper">
                                                    <div class="ml-iconbox__titleWrapper">
                                                        <h3 class="ml-iconbox__title">Fertility</h3>
                                                    </div><!--/.ml-iconbox__titleWrapper-->
                                                </div><!--/.ml-iconbox__contentWrapper-->
                                            </a><!--/.ml-iconbox__anchor-->
                                        </div><!--/.ml-iconbox-->
                                    </div><!--/.ml-megamenu__component-->
                                    <div class="ml-megamenu__component">
                                        <div class="ml-iconbox ml-iconbox--center ml-text--center ml-iconbox--style1">
                                            <a href="{{ asset('distClient/services.html') }}" class="ml-iconbox__anchor">
                                                <div class="ml-iconbox__iconWrapper">
                                                    <span class="ml-iconbox__icon ml-icon-eye2"></span>
                                                </div><!--/.ml-iconbox__iconWrapper-->
                                                <div class="ml-iconbox__contentWrapper">
                                                    <div class="ml-iconbox__titleWrapper">
                                                        <h3 class="ml-iconbox__title">Service 1</h3>
                                                    </div><!--/.ml-iconbox__titleWrapper-->
                                                </div><!--/.ml-iconbox__contentWrapper-->
                                            </a><!--/.ml-iconbox__anchor-->
                                        </div><!--/.ml-iconbox-->
                                        <div class="ml-iconbox ml-iconbox--center ml-text--center ml-iconbox--style1">
                                            <a href="{{ asset('distClient/services.html') }}" class="ml-iconbox__anchor">
                                                <div class="ml-iconbox__iconWrapper">
                                                    <span class="ml-iconbox__icon ml-icon-shield"></span>
                                                </div><!--/.ml-iconbox__iconWrapper-->
                                                <div class="ml-iconbox__contentWrapper">
                                                    <div class="ml-iconbox__titleWrapper">
                                                        <h3 class="ml-iconbox__title">Service 1</h3>
                                                    </div><!--/.ml-iconbox__titleWrapper-->
                                                </div><!--/.ml-iconbox__contentWrapper-->
                                            </a><!--/.ml-iconbox__anchor-->
                                        </div><!--/.ml-iconbox-->
                                    </div><!--/.ml-megamenu__component-->
                                </div><!--/.ml-megamenu__container-->
                            </div><!--/.ml-megamenu-->
                        </li>
                        <li class="ml-mainMenu__item has-submenu">
                            <a href="{{ asset('distClient/skin.html') }}"><span>Treatments</span></a>
                            <div class="ml-megamenu ml-megamenu--left235" data-col-nr="4">
                                <div class="ml-megamenu__container ml-megamenu__container--style3">
                                    <div class="ml-megamenu__component">
                                        <h4 class="ml-megamenu__title">Services</h4>
                                        <ul class="ml-servicesList">
                                            <li class="ml-servicesList__item">
                                                <a href="{{ asset('distClient/services.html') }}"><span>Laser Hair Removal</span></a> </li>
                                            <li class="ml-servicesList__item">
                                                <a href="{{ asset('distClient/services.html') }}"><span>Men’s Laser Hair Removal</span></a> </li>
                                            <li class="ml-servicesList__item">
                                                <a href="{{ asset('distClient/services.html') }}"><span>Cellulite Treatment</span></a> </li>
                                            <li class="ml-servicesList__item">
                                                <a href="{{ asset('distClient/services.html') }}"><span>Non-surgical Liposuction</span></a> </li>
                                            <li class="ml-servicesList__item">
                                                <a href="{{ asset('distClient/services.html') }}"><span>Body Skin Tightening</span></a> </li>
                                            <li class="ml-servicesList__item">
                                                <a href="{{ asset('distClient/services.html') }}"><span>Transgender Hair Removal</span></a> </li>
                                        </ul>
                                    </div>
                                    <div class="ml-megamenu__component ml-megamenu__component--ptb-15 ml-megamenu__component--pr-20">
                                        <h4 class="ml-megamenu__title">Cosmetic Treatments</h4>
                                        <img src="{{ asset('distClient/images/treatments1.jpg') }}" alt="">
                                    </div>
                                    <div class="ml-megamenu__component ml-megamenu__component--ptb-15 ml-megamenu__component--pr-20">
                                        <h4 class="ml-megamenu__title">Eye Treatments</h4>
                                        <img src="{{ asset('distClient/images/treatments2.jpg') }}" alt="">
                                    </div>
                                    <div class="ml-megamenu__component ml-megamenu__component--ptb-15 ml-megamenu__component--pr-20">
                                        <h4 class="ml-megamenu__title">Dental Treatments</h4>
                                        <img src="{{ asset('distClient/images/treatments3.jpg') }}" alt="">
                                    </div>
                                </div><!--/.ml-megamenu__container-->
                            </div><!--/.ml-megamenu-->
                        </li>
                        <li class="ml-mainMenu__item has-submenu">
                            <a href="{{ asset('distClient/skin.html') }}"><span>Skin</span></a>
                            <div class="ml-megamenu ml-megamenu--left340" data-col-nr="5lg-4md">
                                <div class="ml-megamenu__container">
                                    <ul class="ml-megamenu__component ml-megamenu__list">
                                        <li class="ml-megamenu__listItem"><a href="{{ asset('distClient/services.html') }}">Laser Hair Removal</a></li>
                                        <li class="ml-megamenu__listItem"><a href="{{ asset('distClient/services.html') }}">Men’s Laser Hair Removal</a></li>
                                        <li class="ml-megamenu__listItem"><a href="{{ asset('distClient/services.html') }}">Cellulite Treatment</a></li>
                                        <li class="ml-megamenu__listItem"><a href="{{ asset('distClient/services.html') }}">Non-surgical Liposuction</a></li>
                                        <li class="ml-megamenu__listItem"><a href="{{ asset('distClient/services.html') }}">Body Skin Tightening</a></li>
                                        <li class="ml-megamenu__listItem"><a href="{{ asset('distClient/services.html') }}">Transgender Hair Removal</a></li>
                                        <li class="ml-megamenu__listItem"><a href="{{ asset('distClient/services.html') }}">Clatuu Fat Freezing</a></li>
                                    </ul>
                                    <ul class="ml-megamenu__component ml-megamenu__list">
                                        <li class="ml-megamenu__listItem"><a href="{{ asset('distClient/services.html') }}">Anti-Wrinkle Injections</a></li>
                                        <li class="ml-megamenu__listItem"><a href="{{ asset('distClient/.html') }}">Dermal Filters</a></li>
                                        <li class="ml-megamenu__listItem"><a href="{{ asset('distClient/services.html') }}">Non Surgical Facelift</a></li>
                                        <li class="ml-megamenu__listItem"><a href="{{ asset('distClient/services.html') }}">Facial Rejuvenation</a></li>
                                        <li class="ml-megamenu__listItem"><a href="{{ asset('distClient/services.html') }}">Microdermabrasion</a></li>
                                        <li class="ml-megamenu__listItem"><a href="{{ asset('distClient/services.html') }}">Facial Thread Veins Removal</a></li>
                                        <li class="ml-megamenu__listItem"><a href="{{ asset('distClient/services.html') }}">The Ultraformer HIFU</a></li>
                                    </ul>
                                    <ul class="ml-megamenu__component ml-megamenu__list">
                                        <li class="ml-megamenu__listItem"><a href="{{ asset('distClient/services.html') }}">Acne Skin Treatment</a></li>
                                        <li class="ml-megamenu__listItem"><a href="{{ asset('distClient/services.html') }}">Skin Peels</a></li>
                                        <li class="ml-megamenu__listItem"><a href="{{ asset('distClient/services.html') }}">Pigmentation Treatment</a></li>
                                        <li class="ml-megamenu__listItem"><a href="{{ asset('distClient/services.html') }}">Rosacea Treatment</a></li>
                                        <li class="ml-megamenu__listItem"><a href="{{ asset('distClient/services.html') }}">Acne Scarring</a></li>
                                        <li class="ml-megamenu__listItem"><a href="{{ asset('distClient/services.html') }}">Milia Removal</a></li>
                                        <li class="ml-megamenu__listItem"><a href="{{ asset('distClient/services.html') }}">Wrinkle Reduction</a></li>
                                    </ul>
                                    <ul class="ml-megamenu__component ml-megamenu__list">
                                        <li class="ml-megamenu__listItem"><a href="{{ asset('distClient/services.html') }}">Skin Peels</a></li>
                                        <li class="ml-megamenu__listItem"><a href="{{ asset('distClient/services.html') }}">Dermal Rolling</a></li>
                                        <li class="ml-megamenu__listItem"><a href="{{ asset('distClient/services.html') }}">Radio Frequency</a></li>
                                        <li class="ml-megamenu__listItem"><a href="{{ asset('distClient/services.html') }}">Fat Removal Treatments</a></li>
                                        <li class="ml-megamenu__listItem"><a href="{{ asset('distClient/services.html') }}">Ultrasound Cavitation</a></li>
                                        <li class="ml-megamenu__listItem"><a href="{{ asset('distClient/services.html') }}">AlumierMD</a></li>
                                        <li class="ml-megamenu__listItem"><a href="{{ asset('distClient/services.html') }}">Lip Enhancements</a></li>
                                    </ul>
                                    <div class="ml-megamenu__component ml-megamenu__component--right visible-lg">
                                        <img class="ml-megamenu__Img" src="{{ asset('distClient/images/megamenu-img1.jpg') }}" alt="">
                                    </div>
                                    <div class="ml-megamenu__footer">
                                        <h3 class="ml-megamenu__footerText">Get up to <span style="color: #fe9393">65% off</span> when you book your free test &amp; consultation!</h3>
                                        <a href="{{ asset('distClient/contact.html') }}" class="ml-btn ml-btn--lg ml-megamenu__footerBtn">BOOK NOW</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="ml-mainMenu__item"><a href="{{ asset('distClient/clinics.html') }}"><span>Clinics</span></a></li>
                        <li class="ml-mainMenu__item"><a href="{{ asset('distClient/schedule.html') }}"><span>Schedule</span></a></li>
                        <li class="ml-mainMenu__item has-submenu">
                            <a href="#"><span>Pages</span></a>
                            <div class="ml-submenu">
                                <ul>
                                    <li class="ml-submenu__item"><a href="{{ asset('distClient/index.html') }}">Homepage</a></li>
                                    <li class="ml-submenu__item"><a href="{{ asset('distClient/about.html') }}">About</a></li>
                                    <li class="ml-submenu__item"><a href="{{ asset('distClient/blog.html') }}">Blog</a></li>
                                    <li class="ml-submenu__item"><a href="{{ asset('distClient/blog-single.html') }}">Single Blog</a></li>
                                    <li class="ml-submenu__item"><a href="{{ asset('distClient/contact.html') }}">Contact</a></li>
                                    <li class="ml-submenu__item"><a href="{{ asset('distClient/contact-style2.html') }}">Contact page 2</a></li>
                                    <li class="ml-submenu__item"><a href="{{ asset('distClient/clinics.html') }}">Clinics</a></li>
                                    <li class="ml-submenu__item"><a href="{{ asset('distClient/schedule.html') }}">Schedule</a></li>
                                </ul>
                                <ul>
                                    <li class="ml-submenu__item"><a href="{{ asset('distClient/services.html') }}">Services</a></li>
                                    <li class="ml-submenu__item"><a href="{{ asset('distClient/shop.html') }}">Shop</a></li>
                                    <li class="ml-submenu__item"><a href="{{ asset('distClient/skin.html') }}">Skin</a></li>
                                    <li class="ml-submenu__item"><a href="{{ asset('distClient/shop-single.html') }}">Product page</a></li>
                                    <li class="ml-submenu__item"><a href="{{ asset('distClient/shop-single2.html') }}">Product page 2</a></li>
                                    <li class="ml-submenu__item"><a href="{{ asset('distClient/vshop-single3.html') }}">Product page 3</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="ml-mainMenu__item"><a href="{{ asset('distClient/shop.html') }}"><span>Shop</span></a></li>
                        <li class="ml-mainMenu__item"><a href="{{ asset('distClient/blog.html') }}"><span>Blog</span></a></li>
                        <li class="ml-mainMenu__item"><a href="{{ asset('distClient/contact.html') }}"><span>Contact</span></a></li>
                        <li class="ml-mainMenu__item has-submenu">
                            <a href="#"><span>Réclamation</span></a>
                            <div class="ml-submenu">
                                <ul>
                                    <li class="ml-submenu__item"><a href="{{ path('AjouterU',{'id':app.user.id}) }}">Ajouter une réclamation</a></li>
                                    <li class="ml-submenu__item"><a href="{{ path('usereclamation',{'id':app.user.id}) }}">Consulter réclamation</a></li>

                                </ul>
                            </div>
                        </li>
                    </ul>

                    <div class="ml-searchBar">

                        <div class="ml-search">
                            <a href="#" class="ml-searchBtn">
                                <span class="glyphicon glyphicon-search"></span>
                            </a>
                            <div class="ml-search-container">
                                <form action="#" method="get">
                                    <input class="ml-search__input" type="text" placeholder="SEARCH ...">
                                    <button class="ml-search__submit glyphicon glyphicon-search" type="submit" value="go"></button>
                                </form>
                            </div><!--/.ml-search-->
                        </div><!--/.ml-search-->

                        <div class="ml-cart">
                            <a href="#" class="ml-cart__link">
                                <span class="ml-icon-shopping-cart ml-cart__icon"></span>
                            </a><!--/.ml-cart__link-->
                            <div class="ml-infoCart">
                                <ul class="ml-cartList">
                                    <li class="ml-cartList__item">
                                        <h3 class="ml-cartList__itemTitle">Nurofen Raceala si Gripa 10 Tablete.</h3>
                                        <img class="ml-cartList__itemImg" src="{{ asset('distClient/img-assets/cart-img-placeholder.jpg') }}" alt="">
                                        <span class="ml-cartList__itemRemove glyphicon glyphicon-remove"></span>
                                    </li><!--/.ml-cartList__item-->
                                    <li class="ml-cartList__item">
                                        <h3 class="ml-cartList__itemTitle">Nurofen Raceala si Gripa 10 Tablete.</h3>
                                        <img class="ml-cartList__itemImg" src="{{ asset('distClient/img-assets/cart-img-placeholder.jpg') }}" alt="">
                                        <span class="ml-cartList__itemRemove glyphicon glyphicon-remove"></span>
                                    </li><!--/.ml-cartList__item-->
                                </ul><!--/.ml-cartList-->
                                <div class="ml-separator--style1"></div>
                                <p class="ml-cartList__Total">SUBTOTAL</p>
                                <p class="ml-cartList__Price">$35</p>
                                <div class="ml-separator--style1"></div>
                                <div class="ml-infoCart-buttons">
                                    <a href="#" class="ml-btn ml-btn--white ml-infoCart-btn">VIEW CART</a>
                                    <a href="#" class="ml-btn ml-btn--right ml-infoCart-btn">CHECKOUT</a>
                                </div><!--/.ml-infoCart-buttons-->
                            </div><!--/.ml-infoCart-->
                        </div><!--/.ml-cart-->

                    </div><!--/.ml-searchBar-->
                </div><!--/.ml-menubar-->
            </div><!--/.ml-container-->
        </div><!--/.ml-menubar-wrapper-->

    </header>
    <!--/. Header end -->

    {% block content %}
        <H1>BONJOUUUUUUUUUUR</H1>

    {% endblock %}


    <footer class="ml-footer">
        <div class="ml-container container">
            <div class="row">
                <div class="col-sm-3 col-md-3">
                    <p class="ml-footerTitle">WHO WE ARE</p>
                    <ul class="ml-footerList">
                        <li class="ml-footerList__item"><a href="{{ asset('distClient/about.html') }}"><span>About us</span></a></li>
                        <li class="ml-footerList__item"><a href="{{ asset('distClient/about.html') }}"><span> Awards & Achievements</span></a></li>
                        <li class="ml-footerList__item"><a href="{{ asset('distClient/about.html') }}"><span>Board of Directors</span></a></li>
                        <li class="ml-footerList__item"><a href="{{ asset('distClient/about.html') }}"><span>Clinics & Hospitals</span></a></li>
                        <li class="ml-footerList__item"><a href="{{ asset('distClient/about.html') }}"><span>Our History</span></a></li>
                        <li class="ml-footerList__item"><a href="{{ asset('distClient/about.html') }}"><span>News &amp; Media</span></a></li>
                    </ul><!--/.ml-footerList-->
                </div><!--/.col-sm-3 col-md-3-->
                <div class="col-sm-3 col-md-3">
                    <p class="ml-footerTitle">MEDICAL SERVICES</p>
                    <ul class="ml-footerList">
                        <li class="ml-footerList__item"><a href="{{ asset('distClient/services.html') }}"><span>Cancer Care</span></a></li>
                        <li class="ml-footerList__item"><a href="{{ asset('distClient/services.html') }}"><span>Heart Care</span></a></li>
                        <li class="ml-footerList__item"><a href="{{ asset('distClient/services.html') }}"><span>Orthopedic Care</span></a></li>
                        <li class="ml-footerList__item"><a href="{{ asset('distClient/services.html') }}"><span>Women's Health</span></a></li>
                        <li class="ml-footerList__item"><a href="{{ asset('distClient/services.html') }}"><span>Emergency Services</span></a></li>
                        <li class="ml-footerList__item"><a href="{{ asset('distClient/services.html') }}"><span>Urgent Care</span></a></li>
                    </ul><!--/.ml-footerList-->
                </div><!--/.col-sm-3 col-md-3-->
                <div class="col-sm-3 col-md-3">
                    <p class="ml-footerTitle">PATIENTS & VISITORS</p>
                    <ul class="ml-footerList">
                        <li class="ml-footerList__item"><a href="{{ asset('distClient/services.html') }}"><span>Advance Care Planning</span></a></li>
                        <li class="ml-footerList__item"><a href="{{ asset('distClient/services.html') }}"><span>Billing and Insurance</span></a></li>
                        <li class="ml-footerList__item"><a href="{{ asset('distClient/services.html') }}"><span>Medical Records Request</span></a></li>
                        <li class="ml-footerList__item"><a href="{{ asset('distClient/services.html') }}"><span>Pharmacy</span></a></li>
                        <li class="ml-footerList__item"><a href="{{ asset('distClient/services.html') }}"><span>Patient Education</span></a></li>
                        <li class="ml-footerList__item"><a href="{{ asset('vservices.html') }}"><span>Web Nursery</span></a></li>
                    </ul><!--/.ml-footerList-->
                </div><!--/.col-sm-3 col-md-3-->
                <div class="col-sm-3 col-md-3">
                    <p class="ml-footerTitle ml-footerTitle--pb-10">FOLLOW US</p>
                    <div class="ml-socialIcons ml-socialIcons--pb-30 ml-socialIcons--size17">
                        <span class="ml-socialIcons__item ml-icon-twitter ml-socialIcons__item--light"></span>
                        <span class="ml-socialIcons__item ml-icon-facebook ml-socialIcons__item--light"></span>
                        <span class="ml-socialIcons__item ml-icon-google-plus ml-socialIcons__item--light"></span>
                        <span class="ml-socialIcons__item ml-icon-dribbble ml-socialIcons__item--light"></span>
                        <span class="ml-socialIcons__item ml-icon-behance ml-socialIcons__item--light"></span>
                    </div><!--/.ml-socialIcons-->
                    <p class="ml-footerTitle ml-footerTitle--pb-10">SUBSCRIBE US</p>
                    <p class="ml-footerText">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                    <div class="ml-newsletter">
                        <form action="//YOUR_USERNAME.DATASERVER.list-manage.com/subscribe/post?u=YOUR_API_KEY&amp;id=LIST_ID" method="post" id="mc-embedded-subscribe-form3" name="mc-embedded-subscribe-form3" class="ml-newsletter-form" target="_blank">
                            <div id="mc_embed_signup_scroll3">
                                <input type="email" value="" name="EMAIL" class="email ml-newsletter__input" id="mce-EMAIL3" placeholder="Your E-mail Address">
                                <button type="submit" name="submit" id="mc-embedded-subscribe3" class="button ml-newsletter__button"><span class="glyphicon glyphicon-arrow-right"></span></button>
                            </div>
                            <div class="ml-newsletter-message"></div>
                        </form>
                    </div><!--/.ml-newsletter-->
                </div><!--/.col-sm-3 col-md-3-->
                <div class="col-sm-12 col-md-12">
                    <div class="ml-separator--style1 ml-separator--space"></div>
                    <p class="ml-copyright">© 2017 <span>Hogash.com</span> | All rights reserved.</p>
                </div>
            </div><!--/.row-->
        </div><!--/.ml-container container-->
    </footer>

</div><!--/.page_wrapper-->

<a href="#" class="totop">TOP</a> <!--/.totop -->

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAk5BBW5wqa_99xzJRUwd31ZI67eaG0vrI"></script>
<script>
    // When the window has finished loading create our google map below
    google.maps.event.addDomListener(window, 'load', init);

    function init() {
        var maps = [];
        maps.push(new google.maps.Map(document.getElementById('sliderMap1'), {
            center: {lat: 40.7143822, lng: -74.0152128},
            zoom: 11
        }));
        maps.push(new google.maps.Map(document.getElementById('sliderMap2'), {
            center: {lat: 44.4462267, lng: 26.0564902},
            zoom: 15
        }));
        maps.push(new google.maps.Map(document.getElementById('sliderMap3'), {
            center: {lat: 48.8527147, lng: 2.3431549},
            zoom: 17
        }));
        // Add map markers
        var markers = [
            ['New York, NY', 40.7143822, -74.0152128, 1],
            ['Bucharest, Romania', 44.4462267, 26.0564902, 2],
            ['Paris, France', 48.8527147, 2.3431549, 3]
        ];
        var marker, i;

        for (i = 0; i < maps.length; i++) {

            if( markers[i] ){
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(markers[i][1], markers[i][2]),
                    map: maps[i]
                });
            }

        }
    }
</script>
<script src="{{ asset('distClient/js/plugins/jquery-3.1.1.min.js') }}"></script>
<script src="{{ asset('distClient/js/plugins/bootstrap.min.js') }}"></script>
<script src="{{ asset('distClient/js/plugins/jquery.countTo.js') }}"></script>
<script src="{{ asset('distClient/addons/slick/slick.js') }}"></script>
<script src="{{ asset('distClient/addons/Magnific-Popup/jquery.magnific-popup.js') }}"></script>
<script src="{{ asset('distClient/addons/masonry/masonry.pkgd.min.js') }}"></script>
<script src="{{ asset('distClient/js/script.js') }}"></script>
</body>
</html>
