{% extends 'baseBack.html.twig' %}
{% block contentMain%}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
    <table class="table table-bordered">
        <tr>
            <th style="width: 10px">Identifiant</th>
            <th>Nom</th>
            <th>Type</th>
        </tr>

        <tr {% for c in repo %}>
            <td>{{ c.id }}</td>
            <td>{{ c.titre }}</td>
            <td>{{ c.description }}</td>
            <td><a href="{{ path('deleteC',{'id':c.id}) }}">Supprimer</a></td>
            <td><a href="{{ path('updateC',{'id':c.id}) }}">Modifier</a></td>
        </tr {% endfor %}>

    </table>
    </body>
    </html>
{% endblock %}