{% extends 'baseBack.html.twig' %}

{% block contentHeader %}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>

    </head>
    <body>
    <h1> Liste des Pharamaciens</h1>
    <input id="search" class="form-control mr-sm-2" type="text" name="search" placeholder="Search ..." aria-label="Search"  style="margin-bottom: 30px">
    <div  id="sa">
        <script src="{{ asset('distAdmin/js/jquery.min.js') }}"></script>
        <br>
        <div class="card-body">
        <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list" data-page-size="10">
            <thead> <tr>

                <th>id</th>
                <th>Nom</th>
                <th>Prenom</th>
               {# <th>Date de naissance</th>#}
                <th>Email</th>
                {#<th>Mot de passe</th>#}
                <th>Rôles</th>
           {#     <th>Adresse</th>
                <th>NumTel</th>#}
               {# <th>Crecto</th>
                <th>Cverso</th>#}
                {# <th>Societe</th>#}
               {# <th>Matricule</th>
                <th>Cnam</th>
                <th>Cnss</th>#}
                <th>Attribuer Role</th>
                <th>Detail</th>
                <th>Supprimer</th>


            </tr></thead>

            {% for i in user%}
            <tbody id="myTable">
                {% if i.type == "pharmacien" %}
                    <tr>
                        <td>{{ i.id }}</td>
                        <td>{{ i.nom }}</td>
                        <td>{{ i.prenom }}</td>
                        <td>{{ i.email }}</td>
                        <td>{{ i.roles|json_encode}}</td>
                        <td><a href="{{ path('modifierutilisateur', {'id': i.id}) }}">Attribuer</a></td>
                        <td><a href="{{ path('Detailm',{'id':i.id}) }}">Detail</a></td>
                        <td><a href="{{ path('Delete',{'id':i.id}) }}">Delete</a></td>
                    </tr>
                {% endif %}
            </tbody>
            {% endfor %}

        </table>
            <script>

                $(document).ready(function(){
                    $('#search').keyup(function(){
                        search_table($(this).val());
                    });
                    function search_table(value){
                        $('#sa tbody').each(function(){
                            var found = 'false';
                            $(this).each(function(){
                                if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                                {
                                    found = 'true';
                                }
                            });
                            if(found == 'true')
                            {
                                $(this).show();

                            }
                            else
                            {
                                $(this).hide();

                            }
                        });
                    }
                });
            </script>
    </div>
    </div>
    </body>
    </html>
{% endblock %}
