{% extends 'baseLR.html.twig' %}

{% block asideright %}

    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Esprit{% block title %}{% endblock %}</title>
    </head>
    <body>

    <div class="card-body">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th style="width: 10px">Id</th>
                <th>Motif</th>
                <th>Description</th>
          {#      <th style="width: 30px">Modifier</th>#}
                <th style="width: 30px">Supprimer</th>
            </tr>
            </thead>

            <tbody>
            {% for i in rec %}
                <tr>
                    <td>{{ i.id }}</td>
                    <td>{{ i.motif }}</td>
                    <td>{{ i.description }}</td>
                    {#<td><span class="badge bg-primary"><a href="{{ path('Modifier',{'id':i.id}) }}"> Modifier </a></span></td>#}
                    <td><a class="btn btn-danger btn-sm" href="{{ path('Supprimeru',{'id':i.id}) }}">
                            <i class="fas fa-trash">
                            </i>
                            Supprimer
                        </a></td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
        <h1><a href="{{ path('userr') }}"> Revenir à la page d'accueil </a></h1>
    </div>

    </body>
    </html>
{% endblock %}

